
.page_holder {
}

.page {
}

.page_loading {
	background: url('/images/loading.gif') center center no-repeat;
	min-height: 200px;
}

#preloader {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: white url('/images/loading.gif') center center no-repeat;	
	z-index: 999;
}