

.text_format {

}

.text_format img {
	max-width: 100%;
}

.text_format img[style*="float: left"] {
	margin: 0 10px 5px 0;
}

.text_format img {

}

.text_format hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #666;
}

.text_format table {
	margin-bottom: 10px;
}

.text_format blockquote p {
	font-size: 14px;
}