.widget h1:first-child {
	margin-top: 0;
}
.widget h2:first-child {
	margin-top: 0;
}
.widget h3:first-child {
	margin-top: 0;
}
.widget h4:first-child {
	margin-top: 0;
}
.widget h5:first-child {
	margin-top: 0;
}
