Remove your DimeShift account

<div style="background: #31b0d5; padding: 10px;">
	<a href="%site_path%" style="font-size: 20px; color: white; text-decoration: none;">$ dimeshift</a>
	<div style="background: #ffffff; padding: 10px;">
		<p>Hi %login%,</p>

		<p>
			Here's your code to remove DimeShift account: %remove_account_code%
		</p>

		<p>&nbsp;</p>
		<p>- The DimeShift Team</p>
	</div>
</div>